.bg{
                position:fixed;
                top: 0;
                left: 0;
                width:100%;
                height:100%;
                min-width: 1000px;
                z-index:-10;
                zoom: 1;
                background-color: #fff;
                background: url("img/bg.jpeg");
                background-repeat: no-repeat;
                background-size: cover;
                -webkit-background-size: cover;
                -o-background-size: cover;
                background-position: center 0;
            }
.dcchen
{
	position:absolute;
  	top:250px;
	left: 880px;
	font-size: 50px;
	border-radius:100px;
	width:125px;
	color:white
}
.zhihuicon {
	position:absolute;
  	top:355px;
	left: 891px;
	font-size: 50px;
	border-radius:100px;
	width:100px;
	color:white
}
.bilibili
{
	position:absolute;
  	top:385px;
	left: 700px;
	font-size: 50px;
	border-radius:0px;
	width:85px;
	color:white
}
.github
{
	position:absolute;
  	top:490px;
	left: 1090px;
	border-radius:0px;
	width:90px;
	color:white
}
.like
{
	position:absolute;
  	top:500px;
	left: 695px;
	font-size: 50px;
	border-radius:0px;
	width:95px;
	color:white
}
.zspace
{
	position:absolute;
  	top:380px;
	left: 1075px;
	border-radius:0px;
	width:110px;
	color:white
}
.Repositorie
{
	position:absolute;
  	top:498px;
	left: 898px;
	font-size: 50px;
	border-radius:0px;
	width:95px;
	color:white
}
.TinyTinyRSS
{
	position:absolute;
  	top:625px;
	left: 700px;
	font-size: 50px;
	border-radius:0px;
	width:95px;
	color:white
}
.WordPress
{
	position:absolute;
  	top:625px;
	left: 898px;
	font-size: 50px;
	border-radius:0px;
	width:95px;
	color:white
}
.PhpMyAdmin
{
	position:absolute;
  	top:615px;
	left: 1060px;
	font-size: 65px;
	border-radius:0px;
	width:115px;
	color:white
}
